<!DOCTYPE html>
<html>
<head>
  <title>Jadmin</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
  <link rel="stylesheet" type="text/css" href="stylesheets/wmd.css"/>
  <script type="text/javascript" src="javascripts/wmd.js"></script>
  <script type="text/javascript" src="javascripts/showdown.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
